<app-modal (submitFn)="add()">
    <modal-header>
      <span translate="actions.addFirefightersLabel"></span>
    </modal-header>
    <modal-body>
      <div class="container">
        <div class="row">
          <table>
            <thead>
              <tr>
                <th *ngFor="let car of data.cars; let idx = index; trackBy: idx" [innerText]="car['car']"></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let firefighter of firefighters; let fIdx = index; trackBy: fIdx">
                <td *ngFor="let car of data.cars; let idx = index; trackBy: idx">
                  <mat-checkbox [(ngModel)]="checkedFirefighters[idx][fIdx].checked" (click)="selectFirefighter(firefighter, fIdx, idx)"></mat-checkbox>
                </td>
                <td>
                  <span [innerText]="firefighter.value"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button mat-raised-button class="primary">
        <span translate="global.save"></span>
      </button>
    </modal-footer>
  </app-modal>
