<form (submit)="save()">
  <h2 mat-dialog-title class="modal-title">
    <ng-content select="modal-header"></ng-content>
    <button type="button" class="close-btn" (click)="modal.close()">
      <span>&times;</span>
    </button>
  </h2>

  <mat-dialog-content class="modal-body">
    <ng-content select="modal-body"></ng-content>
  </mat-dialog-content>

  <mat-dialog-actions class="modal-footer" align="end">
    <button mat-raised-button class="cancel mr-3" (click)="modal.close()">
      <span translate="global.cancel"></span>
    </button>
    <ng-content select="modal-footer"></ng-content>
  </mat-dialog-actions>
</form>
