<app-modal [formGroup]="paymentsForm" (submitFn)="save()">
    <modal-header>
      <span translate="payments.addLabel"></span>
    </modal-header>
    <modal-body>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <app-date-picker formControlName="lastPayment" placeholder="payments.payedYear" mode="year"></app-date-picker>
            </div>
            <div class="col-6">
              <button mat-raised-button class="primary" [disabled]="!paymentsForm.valid">
                <span translate="global.save"></span>
              </button>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-12">
              <app-table [config]="tableConfiguration" [dataSource]="tableData"></app-table>
            </div>
          </div>
        </div>
    </modal-body>
  </app-modal>
