<section class="menu">
  <ul>
    <ng-container *ngFor="let item of menu">
      <ng-container *ngIf="item.isVisible">
          <li *appHasAnyAuthority="item.permision">
            <img [src]="item.icon" alt="">
            <a [routerLink]="['/' + item.link]" [translate]="item.translation"></a>
          </li>
      </ng-container>
    </ng-container>
    <li>
      <img src="../../../assets/image/menu/logout.png" alt="">
      <a (click)="loginService.logout()" [ngStyle]="{'cursor': 'pointer'}" translate="menu.logout"></a>
    </li>
  </ul>
</section>
