<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

  <ng-container *ngFor="let def of tableConfig" [matColumnDef]="def.name">
    <th mat-header-cell *matHeaderCellDef [ngStyle]="{ 'width': def.width }">
      <span *ngIf="isIcon(def.icon)" [translate]="def.translation"></span>
    </th>
    <td mat-cell [ngStyle]="{ 'width': def.width }" *matCellDef="let element">
      <span *ngIf="isIcon(def.icon)" [innerText]="element[def.name]"></span>
      <button [matTooltip]="'global.edit' | translate" matTooltipPosition="above" *ngIf="def.icon === iconTypes.EDIT" [ngClass]="{'edit-icon': def.icon === iconTypes.EDIT}"
        (click)="onEditAction()">
        <mat-icon svgIcon="edit" color="warning"></mat-icon>
      </button>
      <button [matTooltip]="'global.remove' | translate" matTooltipPosition="above" *ngIf="def.icon === iconTypes.REMOVE" [ngClass]="{'delete-icon': def.icon === iconTypes.REMOVE}" (click)="onDeleteAction()">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
