.custom-table {
  width: 99%;
  tr td {
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &.edit-icon {
        color: #4a96ad;
      }
      &.delete-icon {
        color: #b71427;
      }
      mat-icon {
        width: 20px;
        height: 20px;
      }
    }
    .list-text {
      display: inline-block;
      height: 16px;
      width: inherit;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .man-icon {
      color: #4a96ad;
    }
    .woman-icon {
      color: #db7093;
    }
  }
}
